:root {
    --black: #0B0C10;
    --grey: #1F2833;
    --light-grey: #C5C6C7;
    --turquese: #66FCF1;
    --dark-turquese: #45A29E;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    font-size: 60%;
    font-family: monospace;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(-45deg, hsl(133, 97%, 15%), hsl(219, 73%, 90%), #f5f5f5, #f2ffff);
    background-size: 200% 200%;
    font-size: 4em;
}

header {
    font-family: "Cabin Sketch", monospace;
    font-size: 40px;
    color: blue;
}

.container {
    flex: 1;
    padding-bottom: 30px;
    width: auto;
    margin: auto;
}

.grid-content {
    display: grid;
    justify-content: center;
    margin: auto;
    padding: 4rem;
    width: 60rem;
    height: 60rem;
    max-width: 100%;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    box-shadow: 0 0 1rem .1rem #ffffff,
                0 0 1rem .2rem #d2e9f5,
                0 0 1rem 2rem #f2f6f8;
    border-radius: 2px;
}

.tools-container {
    display: flex;
    margin-top: 40px;
}

.div-element {
    border: .1px solid rgba(201, 228, 228, 0.514);
    background-color: rgb(255, 255, 255);
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: crosshair;
    box-shadow: 0 0 .5rem .1rem #ffffff;
}

button, .color-pick, .single-color {
    display: block;
    text-align: center;
    margin: auto;
    width: auto;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.slide-container {
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 4rem;
}

.grid-slider {
    cursor: pointer;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: fit-content;
    padding: .5rem;
    background: var(--turquese); /* Grey background */
    border-radius: 5rem;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.grid-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    border-radius: 50%;
    border: 1px solid greenyellow;
    background: green; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

footer {
    border-top: yellow solid .1px;
    height: 30px;
    background-image: linear-gradient(rgb(32, 32, 32),rgb(15, 15, 48));
    background-size: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: "Montserrat";
    font-weight: 600;
    color: rgb(51, 51, 51);
    text-shadow: 1px 1px 1px #00c3ff9b;
}

footer div {
    background-color: yellow;
    padding: 0.1rem 0.6rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    align-self: baseline;
}

.magic-click {
    box-shadow:
    inset 0 0 5px #fff,      /* inner white */
    inset 2px 0 8px #f0f,   /* inner left magenta short */
    inset -2px 0 8px #0ff,  /* inner right cyan short */
    inset 2px 0 3px #f0f,  /* inner left magenta broad */
    inset -2px 0 3px #0ff, /* inner right cyan broad */
    0 0 5px #fff;
}

@media screen and (max-width: 450px)  {
    .grid-content {
        height: 80vw;
        width: 80vw;
    }
}